@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css');

.container {
  margin-top: 2rem;
}
.text-blue {
  color: blue;
  margin-right: 1rem;
  cursor: pointer;
}
.is-active {
  color: black !important;
}
